name: Keep Streamlit Apps Alive

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  ping-apps:
    runs-on: ubuntu-latest
    steps:
      - name: Send request to MyStreamlitApp
        run: curl -s -o /dev/null -w "%{http_code}\n" https://joebrewymcbrewapp.streamlit.app/